.mobile-menu {
    z-index: 30;

}

.enquiry-form {
    z-index: 20;
}
.ea-logo {
    z-index: 20;
}

.cookie-bar {
    z-index:30;
}
.enquiry-form {
    z-index: 20;
}
.chat {
    z-index: 20;
    position: relative;
}
nav {
	a {
        z-index: 20;
    }
}


.timeline .date.hide-desktop {
    z-index:20;
}

.ea-logo.hide-on-laptop {
    z-index:20;

}
header {

	z-index: 20;
}


.transition-timer-carousel .carousel-indicators {
    z-index: 20;

}

.floating-logo {
    z-index: 20;
}
.floating-logo-mobile {
    z-index: 20;
}
.floating-logo-sub-page {
    z-index: 20;
}

.carousel-item {
    a {
      
    }

    
    z-index: 10;
}

.carousel-indicators {
	li {
 
        z-index: 10;
    }
}

.carousel-control {
    z-index: 10;
}

.transition-timer-carousel-progress-bar {
    z-index: 10;
}


.timeline {

    .line:after, .line {
        z-index: -1;
    }
}